body{
	font-family: 'Montserrat', sans-serif;
}
h1{ 
text-align: center;
color: #0ad7b8;
}

#summary{
width: 396px;
height: 136px;

background: rgba(219, 250, 41, 0.53);

-moz-box-shadow: inset 0px 0px 0px 0px rgb(128,128,128);
-webkit-box-shadow: inset 0px 0px 0px 0px rgb(128,128,128);
box-shadow: inset 0px 0px 0px 0px rgb(128,128,128);
}