/**** LULU TANG ****/

h1 {
	margin: 1em;
}

img.map {
	width: 100%;
}

div.map {
	width: 50%;
	display: inline-block;
}

div.form {
	display: inline-block;
}

form {
	text-align: left;
	padding: 1em;
}

label {
	display: block;
	margin: 0.5em;
	font-weight: bold;
}

fieldset {
	background-color: #D6ED7B;
	color: #cc3f42;
	border: 0.5em solid #EB9738;
	margin: 0.5em;
}

button {
	font-weight: bold;
	font-size: 1em;
	padding: 1em;
	background-color: #FF4E50;
	border: 0px;
	color: #F9D423;
	text-decoration: none;
	margin: 0.5em;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

button:hover {
	background-color: #F9D423;
	color: #FF4E50;
}