img.map {
    width: 100%;
}

div.map {
    width: 50%;
    display: inline-block;
}

div.form {
    display: inline-block;
}

form {
    text-align: left;
    padding: 1em;
}

label {
    display: block;
    margin: 0.5em;
    font-weight: bold;
}

fieldset {
    background-color: #9DC45F;
    color: #cc3f42;
    border: 5px solid #89AF4C;
    padding: 1em;
    margin: 0.5em;
}

button {
    font-weight: bold;
    font-size: 1em;
    padding: 1em;
    background-color: #FF4E50;
    border: 0px;
    color: #F9D423;
    text-decoration: none;
    margin: 0.5em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    color: #FFF;
    background: #9DC45F;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 0px 0px 30px 30px;
    -webkit-border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    border-bottom: 3px solid #89AF4C;

}

label {
    display: block;
    margin: 0px 5px;
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}

textarea{
    height:100px;
    padding-top: 10px;
}

button {
    background-color: #89AF4C;
}

button:hover {
    background-color: #F9D423;
    color: #80A24A;
    border-radius: 30px 450px 30px 450px;
    -webkit-border-radius: 30px 450px 30px 450px;
    -moz-border-radius: 30px 450px 30px 450px;
}