h1 {
	margin: 1em;
}

img.map {
	width: 100%;
}

div.map {
	width: 50%;
	display: inline-block;
	border: 0.5em solid #FF4E50;
	/*margin: 2em;*/
}

div.form {
	display: inline-block;
}

form {
	text-align: left;
	padding: 1em;
}

label {
	display: block;
	margin: 0.5em;
	font-weight: bold;
}

fieldset {
	background-color: #F9D423;
	color: #cc3f42;
	border: 0.5em solid #FF4E50;
	margin: 0.5em;
}