/* Color Palette: 
http://www.colourlovers.com/palette/937624/Dance_To_Forget */

body {
	background-color: #E1F5C4;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

p {
	padding: 1em;
}

header {
	background-color: #FF4E50;
	padding: 1em;
}

header img {
	display: block;
	margin: auto;
}

footer {
	background-color: #FC913A;
	padding: 1em;
	text-align: center;
}

/*Photo Gallery on front page*/

#top-photos {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
}

#top-photos li {
  display:inline-block;
}

#top-photos img {
  opacity: 0.8;
  width: 200px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#top-photos img:hover {
  opacity: 1;
}

/*Contact Page*/

.map {
  display: block;
}