/* Color Palette: 
http://www.colourlovers.com/palette/937624/Dance_To_Forget */

body {
	background-color: #E1F5C4;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2em;
	font-weight: bold;
  margin: 1em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

section {
  margin: 1em 0;
}

.bigtext img {
  max-width: 100%;
} 

.content {
  width: 80%;
  display: block;
  margin: 2em auto;
  line-height: 1.5;
}
.info {
  border-color: black;
-webkit-border-radius: 15px;
  background: white;
}
p {
	padding: 1em;
}

a {
  text-decoration: none;
  color: #FF4E50;
}

a:hover {
  color: #FC913A;
}

nav {
  background-color: #F9D423;
}

nav a {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  color: #FF4E50;
  text-decoration: none;
  padding: 1em;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav a:hover {
  background-color: #EDE574;
  color: #FF4E50;
}

header {
	background-color: #FF4E50;
	padding: 1em;
}

header img {
	display: block;
	margin: auto;
}

footer {
	background-color: #FC913A;
	padding: 1em;
	text-align: center;
  clear: both;
}

/*Photo Gallery on front page*/

#top-photos {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
}

#top-photos li {
  display:inline-block;
}

#top-photos img {
  opacity: 0.8;
  width: 200px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#top-photos img:hover {
  opacity: 1;
}

/*Contact Page*/

.map {
  display: block;
}



/*
      Seattle page

      Left off before making the side menu elements display images with text overlay
*/

.whatelse-left {
  position: absolute;
  left: 10px;
  top: 300px;
  width: 20%;
  background-color: #FF4E50;
}

.whatelse-right {
  position: absolute;
  right: 10px;
  top: 300px;
  width: 20%;
  background-color: #FF4E50;
}

.whatelse-left .whatelse li {
  color: #F9D423;
  border: 1px solid;
}

.whatelse-right .whatelse li {
  color: #F9D423;









@media only screen and (max-width: 768px) {
  .content {
    width: 95%;
  }
}