/* Color Palette: 
http://www.colourlovers.com/palette/937624/Dance_To_Forget */

/**** LULU TANG ****/

body {
	background-color: #E1F5C4;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2em;
	font-weight: bold;
  margin: 1em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

section {
  margin: 1em 0;
}

.bigtext img {
  max-width: 100%;
} 

.content {
  width: 80%;
  display: block;
  margin: 2em auto;
  line-height: 1.5;
}
.info {
  border-color: black;
-webkit-border-radius: 15px;
  background: white;
}

.hamburger {
  display: none;
}

nav {
  display: block;
}

.clear {
  clear: both;
}

p {
	padding: 1em;
}

a {
  text-decoration: none;
  color: #FF4E50;
}

a:hover {
  color: #FC913A;
}

nav {
  background-color: #F9D423;
}

nav a {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  color: #FF4E50;
  text-decoration: none;
  padding: 1em;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav a:hover {
  background-color: #EDE574;
  color: #FF4E50;
}

header {
	background-color: #FF4E50;
	padding: 1em;
}

header img {
	display: block;
	margin: auto;
}

footer {
	background-color: #FC913A;
	padding: 1em;
	text-align: center;
  clear: both;
}

.visible-on-mobile {
  display: none;
}

/*Photo Gallery on front page*/

#top-photos {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
}

#top-photos li {
  display:inline-block;
}

#top-photos img {
  opacity: 0.8;
  width: 200px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#top-photos img:hover {
  opacity: 1;
}

/*Contact Page*/

.map {
  display: block;
}

.checkbox {
  display: inline-block;
  width: 20%;
}

/**** BEN BEALE ****/

/*
      Seattle page - Still need to put links with the sidebar text/images

      left sidebar
*/

.more-container-left {
  position: absolute;
  left: 10px;
  top: 200px;
  width: 20%;
  margin: 20px;
  display: inline-block;
  color: #F9D423;
  font-weight: bold;
  font-style: italic;
  border: 1px solid #563d67;
}

.more-container-left .more-left h2 {
  height: auto;
  padding: 75px 75px;
  border: 1px solid black;
  margin: 5px 5px;

}


/* 
      right sidebar
*/

.more-container-right {
  position: absolute;
  right: 10px;
  top: 200px;
  width: 20%;
  margin: 20px;
  display: inline-block;
  color: #F9D423;
  font-weight: bold;
  font-style: italic;
  border: 1px solid #563d67;
}

.more-container-right .more-right h2 {
  height: auto;
  padding: 75px 75px;
  border: 1px solid black;
  margin: 5px 5px;
}

#hotels {
  background-image: url("img/seattleHotel.jpg");
  background-position: center;
  overflow: hidden;
  width: inherit;
}

#hotels > a {
  position: absolute;
  right: 0;
  width: inherit;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  background-color: #563d67;  
  color: white;
}

#bars {
  background-image: url("img/seattleBar.jpg");
  background-position: center;
  overflow: hidden;
  width: inherit;
}

#bars > a {
  position: absolute;
  right: 0;
  width: inherit;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  background-color: #563d67;
  color: white;
}

#sports {
  background-image: url("img/seattleSports.jpg");
  background-position: center;
  overflow: hidden;
  width: inherit;
}

#sports > a {
  position: absolute;
  right: 0;
  width: inherit;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  background-color: #563d67;
  color: white;
}

#concerts {
  background-image: url("img/seattleConcert.jpg");
  background-position: center;
  overflow: hidden;
  width: inherit;
}

#concerts > a {
  position: absolute;
  right: 0;
  width: inherit;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  background-color: #563d67;
  color: white;
}

@media only screen and (max-width: 768px) {
  .content {
    width: 95%;
  }
}


/*
  In the middle of using media queries to make the bxslider hidden in mobile/tablet view. 
  I want to make the side bar images 4x4 in tablet view, and stacked on top of each other in mobile view 
*/

/**** LULU TANG ****/

/*Big Tablet*/
@media only screen and (max-width: 1190px) {
  .more-container-left, .more-container-right {
    position: static;
    width: 40%;
  }

  #sports > a, 
  #hotels > a,
  #bars > a,
  #concerts > a {
    position: static;
    width: 100%;
  }
}

/*Smaller Tablet*/
@media only screen and (max-width: 768px) {
  .content {
    width: 95%;
  }

  .hamburger {
    display: block;
    float: left;
    width: 50px;
  }

  .logo {
    float: right;
    margin-right: 1em;
    width: 50px;
  }

  nav {
    display: none;
  }

  nav a {
    display: inline-block;
  }
}

/**** BEN BEALE ****/

/*Mobile*/
@media only screen and (max-width: 500px) {
  .bx-caption {
    display: none;
  }

  .more-container-right, .more-container-left {
    display: none;
    float: none;
  }

  nav a {
    display: block;
  }

  .visible-on-mobile {
    display: block;
  }

  .view.seattle h2 {
    background-color: #563d67;
  }
}